.trangchu{
  .tim{
    transform: translate(1130px,70px);
    #form{
      #query{
        height: 35px;
      }
    }
  }
  .chuaphimvaloc{
    background-color: #181d23;
  display: flex;
// .nensang{
//   width: 1900px;
//   height: 300px;
//   background-image: radial-gradient(circle, red, yellow, green,white);
//   background-color: white;
//  // backdrop-filter: blur(20px);
//  position: absolute;
//  position: sticky;
//  z-index: -1;

  

// }
.column1 {
  height: fit-content;
  width: 75%;
  //margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  //display: flex;
  justify-content: center;
  align-items: left;
  //background-color: rgba(81, 80, 60, 0.476);
 // border:solid white 3px;
 // border-radius: 20px ;
  .column15{
    height: 510px;

  .anhphim {
    border: 2px solid rgb(97, 79, 79);
   // border-radius: 10px;
    background-color: rgb(40, 35, 35);
    width: 300px;
    padding: 10px;
    height: 450px;
    display: flex;
   // grid-template-rows: 50% 25% 25%;
    z-index: 1;
    position: relative;
    
  
  }
  .anhphim:hover{
    background-color: black;
  }
  
  
  
}
  #link{
    color:white;
    text-decoration: none;
    position: relative;
    text-align: left;
    background-color: black;
    #title{
      width: 200px;
      font-size: 18px;
      font-weight: 400;
      padding-top: 5px;
      padding-left: 18px;

    }
    #title:hover{
      color :#b5ac03;
    }
    span{
      position: absolute;
      color:white;
      top:10px;
      left: 10px;
      border: solid black 2px;
      background-color: #821708;
      padding: 1px 6px;
      z-index: 1;
    }
  }
}

.ulloc{
  //padding-left: 90px;
  color: yellowgreen;
  text-align: left;
  
  width: 300px;
  list-style-type: none;
  font-size: 25px;
  margin-top: 90px;
  display: flex;
  font-family: cursive;

  flex-direction: column;
  gap: 20px;
  border: solid black 4px;
  span{
    font-weight: 700;
    text-decoration: underline ;
  }
}

// .trangchu{
// .menuall{
//   position: relative;
//   &::before {
//     position: absolute;
    
//     display: block;
//     content: "";
   
//     backdrop-filter: blur(20px);
//     z-index: -1;
//   }
//   .search-container{
//     position: absolute;
//     right: 30px;
//     top:50px;
//   }
// }}
}
}

@media only screen and (max-width: 390px) {
  .trangchu{
    .tim{
      transform: translate(48px,70px);
      #form{
        #query{
          height: 35px;
        }
      }
    }
    max-width: 390px;
    
  .chuaphimvaloc{
    display: flex;
    flex-direction: column;
     background-color: #555458;
     align-items: center;
  
  .column1 {
    order: 2;
    height: fit-content;
    width: 80%;
    padding-bottom: 30px;
    padding-top: 30px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: left;
    
    .column15{
      height: 266px;
      width: 150px;
  
    .anhphim {
      border: 2px solid rgb(97, 79, 79);
      background-color: rgb(40, 35, 35);
      width: 150px;
      padding: 10px;
      height: 225px;
      display: flex;
     // grid-template-rows: 50% 25% 25%;
      z-index: 1;
      position: relative;
      
    
    }
    .anhphim:hover{
      background-color: black;
    }
    
    
    
  }
    #link{
      color:white;
      text-decoration: none;
      position: relative;
      text-align: left;
      background-color: black;
      #title{
        width: 140px;
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
        padding-left: 10px;
  
      }
      #title:hover{
        color :#b5ac03;
      }
      span{
        position: absolute;
        color:white;
        top:10px;
        left: 10px;
        border: solid black 2px;
        background-color: #821708;
        padding: 1px 6px;
        font-size: 12px;
        z-index: 1;
      }
    }
  }
  
  .ulloc{
    //padding-left: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: rgb(200, 214, 172);

    order: 1;
    width: 300px;
    font-size: 12px;

    gap: 20px;
    span{
      display: inline;
      color: red;
      font-size: 17px;
      font-weight: 700;
      text-decoration: underline ;
    }
  }
  
 
  }
  }

}