.column1 {
  height: fit-content;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 65px;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: rgba(172, 154, 154, 0.476);
  border:solid white 3px;
  border-radius: 20px ;
  .column15{
    height: 510px;

  .column2 {
    border: 3px solid rgb(97, 79, 79);
    border-radius: 10px;
    background-color: aliceblue;
    width: 300px;
    height: 450px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    
    h3 {
      margin-top: 10px;
      text-align: center;
    }
    span {
      margin-right: 10px;
      text-align: end;
      font-size: larger;
      text-decoration: none;
    }
  }}
  #link{
    color:white;
    text-decoration: none;
    position: relative;
    text-align: left;
    #title{
      width: 200px;
      font-size: 20px;
      padding-top: 30px;

    }
  }
}
// .trangchu{
// .menuall{
//   position: relative;
//   &::before {
//     position: absolute;
    
//     display: block;
//     content: "";
   
//     backdrop-filter: blur(20px);
//     z-index: -1;
//   }
//   .search-container{
//     position: absolute;
//     right: 30px;
//     top:50px;
//   }
// }}