body{
    width: min(1400px,100%);
    
}
#app{
    z-index: -1;

#home-tong{
    width: 100%;
    height:100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent, black);
    #home{
        position: relative;
        width: 1200px;
        height: 800px;
        background-image: url('https://cafebiz.cafebizcdn.vn/thumb_w/600/162123310254002176/2022/2/3/photo1643861468728-1643861468806281325325.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;
        #btn-dn{
            position: absolute;
            top:0;
            right: 10%;
            }
       #form-dn{
           
        form {
            
            color:whitesmoke;
            position:fixed ; /* Đặt form cố định so với viewport */
            top: 50%; /* Đặt form ở giữa theo chiều dọc */
            left: 50%; /* Đặt form ở giữa theo chiều ngang */
            transform: translate(-50%, -50%); /* Dịch chuyển form để nó chính xác ở giữa */
            z-index: 5;
            }
           
                }
    #bd{
        display: block;
        position: relative;
        width: 100%;
        height:100%;
        background-size: cover;
        background-image: linear-gradient(to bottom, transparent, black);
    
    
         p{
    
            text-align: center;
            position: relative;
            top:30%;
            margin-bottom: 8%;
            color: white;
            font-weight: 700;
            font-size: 40px;
            
        }
        }   
    }
#ads1{
    color:aliceblue;
    width: 100%;
    height: 600px;
    position: relative;
    font-weight:800;
    h1{
        position: absolute;
        top: 30%;
        left: 8%;
        font-weight:900;
        width: 400px;
        
    }
    p{
        position: absolute;
        top: 55%;
        left: 8%;
        font-weight:600;
        width: 400px;
    }
    img{
        position: absolute;
        background-color: transparent;
        right: 0;
        z-index: 2;
    }
    video{
        position: absolute ;
        right: 4%;
        top:19%;
        width: 560px;
        z-index: 1;
        // transform: translate(-50%, -50%);
    }
}
#ads2{
    color:aliceblue;
    width: 100%;
    height: 1000px;
    position: relative;
    font-weight:800;
    h1{
        position: absolute;

        width: 100%;
        height: 100%;

        text-align: center;
        justify-content: center;
        font-weight:900;
        top:15%;
    }
    p{
        
        position: absolute;
       text-align: center;
       justify-content: center;
       width: 100%;
       height: 100%;
        font-weight:600;
        font-size:xx-large;
        top:25%;
    }
    img{
        width: 100%;
        height: 100%;
    }


}

}}

